<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RPLayout.a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>RPLayout.dylib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>RPLayout.framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RPLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4DE8303818B4C099006C5A97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DE8304F18B4C099006C5A97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DE8306F18B4C11A006C5A97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DE8307F18B4C11A006C5A97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DE8309818B4C135006C5A97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DE830A418B4C135006C5A97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DE830B918B4C14F006C5A97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
